<!DOCTYPE html>
<head>
  <title>Todo-List</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6168baa3db.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
  <div class="todo-container">
    <h2>Let's Make Some ToDos</h2>
    <div class="todo">
      <form action="" method="POST" class="todo-header">
        <input type="text" name="content" /><button type="submit">
          <span class="fas fa-plus"></span>
        </button>
      </form>
      <ul class="todo-list">
        <% todoTasks.forEach(details => { %>
        <li class="todo-list-item">
        <div class="todo-list-item-name"><%= details.content %></div>
        <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
        </a>
        <a href="/remove/<%= details._id %>" class="remove">
        <span class="fas fa-times"></span>
        </a>
        </li>
        <% }) %>
        </ul>
    </div>
  </div>
</body>